<events>
 <event>
  <date>2012-06-12</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-06-15</date> 
  <time>630pm - 730pm</time> 
  <title>Middletown Community Center</title> 
  <description><![CDATA[ Fairmont WV 26554]]> </description>
 </event>
 <event>
  <date>2012-06-19</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-06-23</date> 
  <time>10am - 6pm</time> 
  <title>WV Folk Festival</title> 
  <description><![CDATA[ Glenville, WV]]> </description>
 </event>
 <event>
  <date>2012-06-26</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-07-03</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-07-04</date> 
  <time>600pm - 9pm</time> 
  <title>Fairview 4th of July</title> 
  <description><![CDATA[ Fairview, WV ]]> </description>
 </event>
 <event>
  <date>2012-07-10</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-07-17</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-07-24</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-07-31</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-08-07</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-08-14</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-08-21</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
 <event>
  <date>2012-08-28</date> 
  <time>630pm - 9pm</time> 
  <title>Jam Session</title> 
  <description><![CDATA[ At The Baptist Temple 
430 Morgantown Avenue
Fairmont, WV 26554 ]]> </description>
 </event>
</events>
